/*共通*/

.border {
  position: relative;
  text-decoration: none;
  color: black;
}

.border::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.3s;
  transform: translateX(-50%);
}

.border:hover::after {
  width: 100%;
}