/*共通*/

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 40px;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: black;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.3s;
  transform: translateX(-50%);
}

.menu a:hover::after {
  width: 100%;
}

header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu{
  border: 1px solid rgb(69, 69, 69);
}