/*共通*/

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 40px;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: black;
}

.menu a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.3s;
  transform: translateX(-50%);
}

.menu a:hover::after {
  width: 100%;
}

header {
  height: 27vh;
  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */
}

header img {
  width: 300px;   /* サイズ調整 */
  height: auto;
}



.border{
  width: 80%;
  border-bottom: 2px solid rgb(69, 69, 69);
  margin-bottom: 10px;
  text-align: center;
}